.wraper {
	width:400px;
	height: 400px;
	background-color: red;
	position: relative; 

/*	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-delay: 0.4s;*/
	transition: all 0.2s linear 0.4s;
}
.box {
	width: 150px;
	height: 150px;
	background-color: yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s ease 0.5s;
	animation: myanimation 5s infinite;
}

/*background image*/
.bg-image {
	background-image: url('../images/photographer.jpg');
	height: 500px;
	width: 900px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.bg-text {
	position: absolute;
	top: 100px;
	left: 150px;
	color: #fff;
}


/*hover*/
/*.wraper:hover {
	background-color: blue;
}
.box:hover {
	background-color: aqua;
	transform: translate(-50%,-50%) rotate(45deg);
}*/

/*.wraper:hover .box {
	background-color: black;
	height: 250px;
	cursor: pointer;
}*/



/*chat icon*/
.chat-icon {
	height: 100px;
	animation: chatanimation 5s 2;
	position: absolute;
}
.box-animation {
	position: relative;
	height: 200px;
}

/*keyframes animations*/
@keyframes myanimation {
	0% {transform: translate(-50%,-50%) rotate(45deg); background: red;}
	25% {transform: translate(-50%,-50%) rotate(90deg); background: yellow;}
	50% {transform: translate(-50%,-50%) rotate(180deg); background: green;}
	75% {transform: translate(-50%,-50%) rotate(360deg); background: aqua;}
	100% {transform: translate(-50%,-50%) rotate(45deg); background: blue;}
}

/*@keyframes chatanimation {
	0% {transform: translateX(50px);}
	30% {transform: translateX(250px);}
	65% {transform: translateX(350px);}
	85% {transform: translateX(450px);}
	100% {transform: translateX(650px);}
}*/

@keyframes chatanimation {
	0% {left: 50px;}
	30% {left: 250px;}
	65% {left: 350px;}
	85% {left: 450px;}
	100% {left: 650px;}
}